fastapi
uvicorn
sqlalchemy
jinja2
python-multipart
alembic
pydantic-settings
passlib
bcrypt
email-validator
itsdangerous
aiofiles
aiohttp
aiosqlite
cloudinary
cryptography
python-dotenv
PyMySQL
python-jose
python-slugify
slowapi
starlette
httpx
fastapi-mail==1.6.4
