{% extends "base.html" %}

{% block content %}

<div class="p-4 md:p-8">

    <div class="flex justify-between items-center mb-8">

        <div>
            <h1 class="text-3xl font-bold">Video Management</h1>
            <p class="text-gray-500">Manage uploaded videos</p>
        </div>

        <a href="/dashboard" class="bg-black text-white px-5 py-3 rounded-xl">
            Dashboard
        </a>

    </div>

    <!-- UPLOAD FORM -->
    <div class="bg-white shadow rounded-2xl p-6 mb-10">

        <form action="videos/create" method="POST" enctype="multipart/form-data" class="space-y-5">

            <input type="text" name="title" placeholder="Video title"
                   class="w-full border p-3 rounded-xl" required>

            <textarea name="description" placeholder="Description"
                      class="w-full border p-3 rounded-xl h-32"></textarea>
             <!-- CATEGORY DROPDOWN -->
    <select name="category_id"
            required
            class="w-full border p-3 rounded-xl">

        <option value="" disabled selected>Select Category</option>

        {% for cat in categories %}
            <option value="{{ cat.id }}">
                {{ cat.name }}
            </option>
        {% endfor %}

    </select>
            <input type="file" name="video" accept="video/*"
                   class="w-full border p-3 rounded-xl" required>

            <button class="bg-blue-600 text-white px-6 py-3 rounded-xl">
                Upload Video
            </button>

        </form>

    </div>

    <!-- VIDEO LIST -->
    <div class="overflow-x-auto bg-white rounded-2xl shadow">

        <table class="w-full">

            <thead class="bg-gray-100">
                <tr>
                    <th class="p-3 text-left">Title</th>
                    <th class="p-3 text-left">Video</th>
                   <th class="p-4 text-left">
                        Views
                    </th>

                    <th class="p-4 text-left">
                        Created
                    </th>

                    <th class="p-3 text-left">Actions</th>
                </tr>
            </thead>

            <tbody>

            {% for video in videos %}

                <tr class="border-t">

                    <td class="p-3">{{ video.title }}</td>

                    <td class="p-3">
                        <video width="150" controls>
                            <source src="{{ video.video_file }}">
                        </video>
                    </td>
                   <td class="p-4">
                   {{ video.category.name }}
          </td>

                   <td class="p-4">
                        {{ video.views }}
                    </td>

                    <td class="p-4">
                        {{ video.created_at }}
                    </td>

                    <td class="p-3 flex gap-2">

                        <a href="/dashboard/videos/edit/{{ video.id }}"
                           class="bg-red-600 text-white px-3 py-1 rounded-lg">
                            Edit
                        </a>

                        <a href="/dashboard/videos/delete/{{ video.id }}"
                           class="bg-red-600 text-white px-3 py-1 rounded-lg">
                            Delete
                        </a>

                    </td>

                </tr>

            {% endfor %}

            </tbody>

        </table>

    </div>

</div>

{% endblock %}
